@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #99b5ab74;
  background-image: url("/public/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-weight: 1000;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.811);
}

h2 {
  font-weight: 700;
  font-size: 35px;
}

main {
  background-color: rgba(250, 235, 215, 0.582);
  font-weight: 600;
  font-size:20px;
}
main p {
  background-color: rgba(255, 255, 255, 0.81);
  font-family: 'Corben', cursive;
  border-radius: 8px;
  /* margin: 10px; */
  padding: 20px;
}

section {
  background-color: rgba(247, 198, 125, 0.769);
}

main img {
  width: 100%;
}

.quote-container p {
  font-size: clamp(23px, 4vw, 26px);
  font-weight: 700;
  font-family: 'Castoro Titling', cursive;
}
.quote-container q {
  font-size: 105%;
}

.container {
  padding: 40px;
}

.carousel-container {
  padding: 15px;
}

.grid-container {
  background-color: rgba(34, 157, 245, 0.4);
  text-align: center;
  font-weight: 600;
  font-family: 'Corben', cursive;
  /* background-color: rgba(184, 236, 234, 0.4); */
}

.grid-container h2 {
}

footer {
  background-color: rgba(74, 69, 63, 0.735);
  color: white;
  font-size: 20px;
}

footer a {
  color: white;
  
}

footer .container {
  padding: 0;
}
